@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-image: linear-gradient(to right,#00A6FA,#00FABC);


}
main{
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e100fa9d;

}
h1{
    color: #FABB00;
    text-align: center;
    text-shadow: 1px 1px 2px #e100fa9d;
}
h2{
    color: #E200FA;
}

p{
    text-align: justify;
    

}